<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta
        name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<base href="https://manalishi79.gitlab.io/poneill-website">-->
        <title>{{ title }}</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap"
            rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="container-md">
            <header class="clearfix">
                <nav class="navbar mt-4 navbar-expand-sm navbar-light pon-navbar">
                    <a class="navbar-brand pon-navbar-brand" href="../index.html">Paul O'Neill</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarNav"
                        style="justify-content: flex-end;">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="../work/index.html">Work
                                    <!--<span class="sr-only">(current)</span>-->
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../about/index.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../contact/index.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <main class="clearfix">
                {{ content | safe }}
            </main>
            <footer class="mt-4">
                <section
                    class="d-flex justify-content-center justify-content-lg-between p-3 border-top
                        pon-footer--font">
                    <!-- Left -->
                    <div class="me-5 d-none d-lg-block">
                        Illustrations from craftwork.design
                    </div>
                    <!-- Right -->
                    <div>
                        <span>© Paul O'Neill</span>
                    </div>
                </section>
            </footer>
            <!-- Footer -->
        </div>
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
</html>