@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 20px;
}

main {
    margin-top: 40px;
    min-height: 300px;
}

main>h2 {
    color: #EC4F6E;
}

/*  Brand colours */

.pon-pink {
    color: #EC4F6E;
}

/* nav */
.pon-navbar {
    font-weight: 500;
    font-size: 1.4rem;
}

.pon-navbar-brand {
    font-weight: 600;
    font-size: 1.4rem;
}

/* Home */
.pon-hero-home-container {
    margin-top: 50px;
    display: flex;
}

.pon-hero-home-image {
    flex-basis: 50%;
}

.pon-hero-home-blurb {
    padding: 0 0 0 40px;
}

.pon-lead-header {
    font-weight: 500;
    color: #EC4F6E;
}

.pon-text-lead {
    font-weight: 400;
    line-height: 1.2;
    font-size: 1.4rem;
}

/* Footer */

.pon-footer--font {
    font-size: .8rem;
    font-weight: 300;
}



/* Mobile and small screen sizes */
@media (max-width: 767.98px) {

    .pon-hero-home-container {
        flex-wrap: wrap-reverse;
        padding: 20px;
    }

    .pon-hero-home-image {
        flex-basis: 80%;
    }

    .pon-hero-home-blurb {
        padding: 0;
    }
}

/* Desktop and large devices */
@media (min-width: 992px) {
    .pon-hero-home-image {
        flex-basis: 40%;
    }

    .pon-reading-wrapper {
        width: 60%;
    }
}

@media (min-width: 1400px) {
    .pon-hero-home-image {
        flex-basis: 25%;
    }
}